html {
    height: 100%;
}
/* body {
    height: 100%;
    border: 0.2rem solid #f2bb05;
} */
h1, h2, h3, h4, h5, strong, b { 
    font-weight: 700; 
} 
p, div {
    font-size: 16px;
}

.header {
    /* position: sticky;
    top:0; */
    z-index: 100;
}
.main {
    margin: 0 auto;
    max-width: 980px;
}

.block {
    position: -webkit-sticky;
    position: sticky;
    top:0;
    min-height: 100vh;
    padding-top: 2rem;
}
.block1 {
    color: #F23535;
    background: #D8E9F0;
    z-index: 1;
}
.block2 {
    color: #F1BA17;
    background: #134D77;
    z-index: 2;
}
.block3 {
    color: #F1BA17;
    background: #134D77;
    top: 0rem;
    z-index: 3;
}
.block4 {
    color:#F23535;
    background:#F0F0C9;
    z-index: 4;
}