html {
    height: 100%;
}
/* body {
    height: 100%;
    border: 0.2rem solid #f2bb05;
} */
h1, h2, h3, h4, h5, strong, b { 
    font-weight: 700; 
} 
p, div {
    font-size: 16px;
}

.header {
    /* position: sticky;
    top:0; */
    z-index: 100;
}

.block {
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background: #D8E9F0;
    min-height: 100vh;
    padding-top: 3rem;
}
.block1 {
    z-index: 1;
}
.block2 {
    z-index: 2;
}
.block3 {
    z-index: 3;
}
.block4 {
    z-index: 4;
}